@model List<DispositivoModel>
@{
    ViewData["Title"] = "Dispositivos";
}

@section Estilo{
	<link rel="stylesheet" href="~/css/tabela.css" />
}

@section Script{
	<script src="/js/tabela.js"></script>
	<script src="/js/dispositivo.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Dispositivos</h1>
</div>


<div class="conjuntoPesquisa">
	<div class="divPesquisar" style="right: 135px;">
		<input id="pesquisarDispositivo" class="inputPersonalizado"></input>
		<img src="~/gifs/search-outline.svg" class="svg-sm" title="Pesquisar">
	</div>
	<button onclick="novaLinha('tabelaDispositivos', JSON.stringify({dispositivo:'', status:''}))" class="botaoNovo">Novo Dispositivo</button>
</div >

<table id="tabelaDispositivos">
	<tr>
		<th>Dispositivo</th>
		<th>Açoes</th>
	</tr>
	@{
		foreach (var item in Model)
		{
			<tr idDispositivo="@item.Id">
				<td id=" @(item.Id)">@item.Nome</td>
				<td>
					<a asp-controller='Relatorio' asp-action="Index">Últimos registros</a>
					<a asp-controller="Mapa" asp-action="Index">Visualizar localização</a>
					<img onclick="editarLinha('tabelaDispositivos', this,JSON.stringify({dispositivo:'', status:''}))" src="~/gifs/brush-outline.svg" class="svg-sm" title="Editar">
					<img onclick="excluirItem('@item.Nome', '@item.Id', this)" src="~/gifs/trash-outline.svg" class="svg-sm" title="Excluir">
					
				</td>

			</tr>
		}
	}

</table>