@model List<DispositivoModel>
@{
	ViewData["Title"] = "Relatório";
}

@section Estilo{
	<link rel="stylesheet" href="~/css/tabela.css" />
}

@section Script{
	<script src="/js/tabela.js">	</script>
	<script src="/js/relatorio.js"></script>

}

<div class="text-center">
	<h1 class="display-4">Relatório</h1>
</div>
<div class="text-center">

	@using Microsoft.AspNetCore.Http;
	@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
	<h3 style="text-align: center;">Usuário logado:@httpContextAccessor.HttpContext.Session.GetString("usuario")</h3>



	<label>Dispositivo:</label>
	<!--<input type="text" id="nome" name="dispositivo">-->



	<select id="dispositivo">
		@{
			foreach (var item in Model)
			{
				<option value=@item.Id name="@item.Nome">@item.Nome</option>
			}
		}
	</select>


	<label>Início:</label>
	<input type="datetime-local" id="inicio">

	<label>Fim:</label>
	<input type="datetime-local" id="fim">

	@*
	<button type="submit">PESQUISAR</button>
	<a href="#" onclick="AtualizarEstoque('@item.Id')">Decrementar Estoque</a>*@
	<button type="button" onclick="RelatorioLocalizacao(document.getElementById('dispositivo').value,
			document.getElementById('inicio').value,
			document.getElementById('fim').value)">
		PESQUISAR
	</button>

</div>

<table id="tabelaRelatorio">
	<tr>
		<th>Data/Hora</th>
		<th>Latitude</th>
		<th>Longitude</th>
	</tr>
	@*@{
	foreach (var item in Model.Localizacao)
	{
	<tr>
	<td>@item.DataHora</td>
	<td>@item.Latitude</td>
	<td>@item.Longitude</td>
	</tr>
	}
	}*@

</table>




