@model UsuarioModel
@{
	ViewData["Title"] = "Usuários";
}


<div class="text-center">
	<h1 class="display-4">USUÁRIOS</h1>

</div>
@*<p><a href="\produto\inserir">Pesquisar</a></p>*@


<div style="width:100%; text-align: right; padding: 10px;">
	<label>Nome:</label>
	<input type="text" id="consultanome">
	<button onclick="Consultar(consultanome.value)">PESQUISAR</button>
</div>

<div>
	<a aps-controller="Usuario" asp-action="Inserir" > INSERIR NOVO USUÁRIO</a>
</div>


<table id="tabela">
	<tr>
		<th>Nome</th>
		<th>Senha</th>
		<th>Código</th>
		<th>Administrador</th>
	</tr>
	@{
		foreach (var item in ViewBag.Usuarios)
		{
			<tr>
				<td id="@(item.Id_usuario)">@item.Nome</td>
				<td>@item.Senha</td>
				<td>@item.Id_usuario</td>
				<td>@item.Administrador</td>
				<td><a href="#" onclick="Consultar('@item.Id_usuario')">trocar</a></td>
			</tr>
		}
	}
</table>


@section Scripts{
	<script>
		function Consultar(consultanome) {
			var url = "/usuario/Consultar/";
			var parametros = { nome: consultanome };
			$.post(url, parametros, CallBackConsultar);
		}
	
		function CallBackConsultar(retorno) {
			var elemento = $("#" + "retnome");
			elemento.html(retorno.nome);
			return (retorno);
		}

	</script>
}

