@model List<UsuarioModel>
@{
    ViewData["Title"] = "Usuários";
}

@section Estilo{
    <link rel="stylesheet" href="~/css/tabela.css" />
}

@section Script{
    <script src="/js/tabela.js"></script>
    <script src="/js/usuario.js"></script>
}


<div class="text-center">
    <h1 class="display-4">Usuários</h1>
</div>
@*<p><a href="\produto\inserir">Pesquisar</a></p>*@



<!--<div style="width:100%; text-align: right; padding: 10px;">
    <label>Nome:</label>
    <input type="text" id="consultanome">
    <button onclick="Consultar(consultanome.value)">PESQUISAR</button>
</div>

<div>
    <a aps-controller="Usuario" asp-action="Inserir" > INSERIR NOVO USUÁRIO</a>
</div>-->

<div class="conjuntoPesquisa">
    <div class="divPesquisar" style="right: 115px;">
        <input id="pesquisarUsuario" class="inputPersonalizado"></input>
        <img src="~/gifs/search-outline.svg" class="svg-sm" title="Pesquisar">
    </div>
    <button onclick="novaLinha('tabelaUsuarios', JSON.stringify({nome:'', senha:''}))" class="botaoNovo">Novo Usuário</button>
</div>


<table id="tabelaUsuarios">
    <tr>
        <th>Nome</th>
        <th>Senha</th>
        <th>Código</th>
        <th>Açoes</th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr idUsuario="@item.Id">
                <td maxlength="50" id="@(item.Id)">@item.Nome</td>
                <td maxlength="8">@item.Senha</td>
                <td>@item.Id</td>
                <td>
                    <img onclick="editarLinha('tabelaUsuarios', this, JSON.stringify({nome:'', senha:''}))" src="~/gifs/brush-outline.svg" class="svg-sm" title="Editar">
                    <img onclick="excluirItem('@item.Nome', '@item.Id', this)" src="~/gifs/trash-outline.svg" class="svg-sm" title="Excluir">
                </td>
            </tr>
        }
    }
</table>


@section Scripts{

}

