@model List<DispositivoModel>
@{
	ViewData["Title"] = "Relatório";
}

@section Estilo{
	<link rel="stylesheet" href="~/css/tabela.css" />
	<link rel="stylesheet" href="~/css/localizacao.css" />
}

@section Script{
	<script src="/js/tabela.js">	</script>
	<script src="/js/localizacao.js"></script>

}

<div class="text-center">
	<h1 class="display-4">Relatório</h1>
</div>

<div class="text-center">
	@using Microsoft.AspNetCore.Http;
	@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
	<h3 style="text-align: center;">Usuário logado:@httpContextAccessor.HttpContext.Session.GetString("usuario")</h3>
</div>

<div class="conjuntoPesquisa" style="padding-top: 0px;">
	<div class="areaItemPesquisa areaAjuste">
		<img src="~/gifs/id-card-outline.svg" class="svg-sm iconFiltro" title="Pesquisar">
		<label>Dispositivo:</label>
		<select id="dispositivo">
			@{
				foreach (var item in Model)
				{
					<option value=@item.Id name="@item.Nome">@item.Nome</option>
				}
			}
		</select>
	</div>

	<div class="areaItemPesquisa areaAjuste">
		<img src="~/gifs/calendar-number-outline.svg" class="svg-sm iconFiltro" title="Pesquisar">
		<label>Início:</label>
		<input type="datetime-local" id="inicio">

		<label>Fim:</label>
		<input type="datetime-local" id="fim">
	</div>
	
	<button type="button" onclick="RelatorioLocalizacao()" class="areaBotaoPesquisa areaAjuste">
		<img src="~/gifs/search-outline.svg" class="svg-sm iconBotao" title="Pesquisar"> PESQUISAR
	</button>

	<button type="button" onclick="RelatorioLocalizacaoMapa()" class="areaBotaoPesquisa areaAjuste">
		<img src="~/gifs/map-outline.svg" class="svg-sm iconBotao" title="Pesquisar"> VER NO MAPA
	</button>
</div>

<table id="tabelaRelatorio">
	<tr>
		<th>Data/Hora</th>
		<th>Latitude</th>
		<th>Longitude</th>
	</tr>
	@*@{
	foreach (var item in Model.Localizacao)
	{
	<tr>
	<td>@item.DataHora</td>
	<td>@item.Latitude</td>
	<td>@item.Longitude</td>
	</tr>
	}
	}*@

</table>




